@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply min-h-screen w-full bg-[#203645] text-white antialiased;
  }

  main {
    @apply w-full max-w-5xl mx-auto px-4 pb-12;
  }
}

@layer components {
  .input-field {
    @apply w-full bg-black text-white placeholder-gray-400 border border-white/20 rounded-md p-3 shadow-inner focus:outline-none focus:ring-2 focus:ring-white/70 focus:border-white transition duration-150;
  }
}