@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: auto, 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
}